<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>17/05/22 23:06:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignOutPage_test.SignOut_test()[pri:0, instance:com.bestbuy.testing.tests.SignOutPage_test@5034c75a]">SignOut_test</td> 
  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>17/05/22 23:06:18</td>   <td>-32197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountPage_test.accountPage_test()[pri:0, instance:com.bestbuy.testing.tests.AccountPage_test@36d4b5c]">accountPage_test</td> 
  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>17/05/22 23:06:21</td>   <td>-28918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressPage_test.addAddress_test()[pri:0, instance:com.bestbuy.testing.tests.AddressPage_test@6d00a15d]">addAddress_test</td> 
  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>17/05/22 23:06:37</td>   <td>-12560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardPage_test.addCard_test()[pri:0, instance:com.bestbuy.testing.tests.CardPage_test@51efea79]">addCard_test</td> 
  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>17/05/22 23:06:57</td>   <td>7176</td> <td>&nbsp;</td><td title="&lt;&lt;SignOutPage_test.browserQuit()[pri:0, instance:com.bestbuy.testing.tests.SignOutPage_test@5034c75a]">&lt;&lt;browserQuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/05/22 23:06:02</td>   <td>-47718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignonPage_Test.homepage_test()[pri:0, instance:com.bestbuy.testing.tests.SignonPage_Test@2ef5e5e3]">homepage_test</td> 
  <td>main@2009787198</td>   <td></td> </tr>
</table>
